{include file="control/header" /}

<div class="mdui-container doc-container">
    <div class="mdui-typo">
        <h2 class="doc-chapter-title doc-chapter-title-first mdui-text-color-theme">{$page_title}<a class="doc-anchor" id="font"></a></h2>
    </div>
</div>
<br>
<div class="mdui-container">
    <div class="mdui-card" style="width:100%;margin:auto;">
        <div class="mdui-card-primary">
            <div class="mdui-card-primary-title">您没有权限查看比赛管理页面</div>
            <div class="mdui-card-primary-subtitle">这可能是因为您的登录有误。</div>
        </div>
        <div class="mdui-card-content mdui-valign">
            <div style="font-size:24px;margin: 0 auto;">您已经登录的身份是{if $usertype == 'admin'}管理员，ID为{$aid}{/if}{if $usertype == 'judger'}评委，ID为{$jid}{/if}，<b>不能查看本场比赛的管理页面</b>，{if $permission == false}不{/if}能查看本场比赛的评委页面。</div>
        </div>
        <div class="mdui-card-actions mdui-valign">
            <button class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-center mdui-btn-raised" onclick="errorapilogout()"><i class="mdui-icon material-icons">exit_to_app</i> 退出并重新登录 </button>
            {if $permission == true}
            <button class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-center mdui-btn-raised" onclick="errorapijudger()"><i class="mdui-icon material-icons">account_circle</i> 查看比赛评委页面 </button>
            {/if}
            <button class="mdui-btn mdui-color-theme mdui-ripple mdui-center mdui-btn-raised" onclick="history.back()"><i class="mdui-icon material-icons">keyboard_arrow_left</i> 返回上一页 </button>
        </div>
    </div>
    <br>
</div>
    <script>
        function errorapilogout(){
            var link = "/contest{$cid}/admin/errorapilogout";
            window.location.assign(link);
        }
        {if $permission == true}
        function errorapijudger(){
            var link = "/contest{$cid}/admin/errorapijudger";
            window.location.assign(link);
        }
        {/if}
    </script>




{include file="control/tail" /}