APP_DEBUG = false[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = testUSERNAME = usernamePASSWORD = passwordHOSTPORT = 3306CHARSET = utf8PREFIX = pf_DEBUG = false[LANG]default_lang = zh-cn[SITE]NAME = 竞赛现场智能评分系统URL = https://localhostFAVICON = /favicon.icoLOGO = /logo.pngCOLOR = indigoACCENT_COLOR = blueDEFAULT_SCREEN_PAGE_PIC = /default_screen_page_pic.jpgDEFAULT_SCREEN_BACKGROUND_PAGE_PIC = /default_screen_background_page_pic.jpg