{include file="judger/header" /}

<div class="mdui-container doc-container">
    <div class="mdui-typo">
        <h2 class="doc-chapter-title doc-chapter-title-first mdui-text-color-theme">{$page_title}您好<a class="doc-anchor" id="font"></a></h2>
    </div>
</div>
<br>
<div class="mdui-container">
    <div class="mdui-card" style="width:100%;margin:auto;">
        <div class="mdui-card-primary">
            <div class="mdui-card-primary-title">请等待 {$players[0]['pid']}号选手{$players[0]['pname']} {if $player_length > 1}{volist name="players" id="v" key="i"  offset="1"}{if $i==$player_length-1}和{else/}、{/if} {$v['pid']}号选手{$v['pname']} {/volist}{/if}答辩</div>
            <div class="mdui-card-primary-subtitle">{$players[$player_length-1]['pid']}号选手{$players[$player_length-1]['pname']} 答辩完毕后将自动跳转到打分页面。</div>
        </div>
    </div>
    <br>
</div>
    <script>
        window.onload=function(){
            setInterval("getReload({$cid},'wait',{'judger_page':'wait','judger_page_content':'{$page_content}'})",3000);
        }
        function MsgFunc(){
            
        }
    </script>




{include file="judger/tail" /}