<!doctype html>
<html lang="cn">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{$page_title} - {$contest_name}</title>
  <link rel="icon" href="{$contest_favicon}" type="image/x-icon" />
  <link rel="shortcut icon" href="{$contest_favicon}" type="image/x-icon"/>
  {load href="/static/assets/dist/js/bootstrap.min.js"}
  {load href="/static/assets/jquery/3.3.1/jquery.min.js"}
  {load href="/static/assets/dist/css/bootstrap.min.css"}
  {load href="/static/assets/style.css"}
  {load href="/static/assets/src_autoTable.js"}
  <style type="text/css">
    body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      background: url("{$page_pic}") no-repeat center 0px;
      background-size: cover;
      background-position: center 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
    }
  </style>
</head>